{% extends 'base.html.twig' %}

{% block title %}Hello PlayController!
{% endblock %}

{% block body %}

	{{ form_start(form) }}
	{{ form_row(form.translatedWord) }}
	<button type="submit">Vérifier</button>
	{{ form_end(form) }}


{% endblock %}
